@model PRUV_WebApp.Models.UserRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intiated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intiated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitiatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitiatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitiatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitiatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AskingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AskingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Case)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Case)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
